<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | <%= title %></title>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/nav.ejs'); %>

    <div class="about content">
        <h2>About Everything</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste non, rerum recusandae veniam labore fugit consequatur quos repellat, a aspernatur reiciendis illo molestiae ex voluptatibus id? Veritatis repellendus veniam perspiciatis.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde, exercitationem. Architecto quos rerum vero necessitatibus aliquid ut non, temporibus ex excepturi obcaecati in itaque atque ea ducimus iure? Neque, voluptate!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum delectus voluptate ut beatae illo eos. Itaque harum minima, quos eum consequatur dolorem illum cupiditate quae, vitae et totam praesentium fuga!</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>